$background-color: #D1D1D1;
$nav-color: #1D1D1D;
$link-color: #4086AA;
$white_80: rgba(255,255,255,0.8);
$white: #fff; 

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body{
    //background: $background-color;
    margin: 0;
    padding: 0;
}

h1{
    margin-top: 5%;
    letter-spacing: 3px;
}
h2.subtitle {
    font-size: 1.6875rem;
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
h3.subtitle {
    text-align: center;
    margin-bottom: 70px;
    font-weight: 300;
    font-size: 1.125rem;
        position:relative;
}

.white {
    color: $white;
}
footer{
    text-align: center;
}

#header{
    width: 100%;
    height: 100%;
    background: url("img/img_header.gif") no-repeat;
    background-position: center;
    text-align: center;
}

#logo{
    @include vertical-align;
    margin: 0 auto;
}

.headline{
    text-align: center;
}

.content{
    margin: 5% 2% 5% 2%;
    //background: #BDE3F0;
}

// Grid Style ohne Ränder und Hintergrund
.callout{
    border: none;
    margin: 0;
}

.callout.primary{
    background-color: #fff;
}

// verhindert, dass die Position durch die Animation verfälscht wird (funktioniert allerdings noch nicht richtig)
.animated{
    -webkit-animation-fill-mode: none !important;
    animation-fill-mode: none !important;
}


/* ==============================================
    Preloader
=============================================== */

.mask {
    background-color: $white;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
}
#loader {
    background: url(../img/loader.gif) center center no-repeat;
    height: 31px;
    width: 31px;
    left: 50%;
    top: 50%;
    position: absolute;
    z-index: 100001;
    margin: -15px 0 0 -15px;
}



/* ==============================================
    Team
=============================================== */

.team {
    text-align: center;
    h3 span {
        font-size: 1rem;
        font-weight: 400;
        display: block;
    }
}
.team-item {
    position: relative;
    margin: 0 auto 25px auto;
    cursor: pointer;
    img {
        border-radius: 4px;
    }
    i {
        margin-top: 100%;
        display: block;
        opacity: 0;
        transition: all 0.3s ease 0.1s;
    }
    &:hover .team-hover {
        background: $white_80;
        filter: alpha(opacity=80);
        i {
            opacity: 1;
            margin-top: 40%;
            transition: opacity .3s .2s, margin-top .3s .2s;
        }
    }
}
.team-hover {
    background-color: $nav-color;
    transition: background .4s ease;
    background: rgba(255,255,255,0);
    overflow: hidden;
    filter: alpha(opacity=0);
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 4px;
    a {
        &:link {
            font-weight: bold;
        }
        &:visited {
            font-weight: bold;
        }
    }
}
ul.social-team {
    list-style: none;
    margin-bottom: 0;
    li {
        display: inline;
        a {
            &:link {
                display: inline-block;
                margin: 0 5px;
            }
            &:hover {
                color: $nav-color !important;
            }
        }
    }
    a:visited {
        display: inline-block;
        margin: 0 5px;
    }
}

/* ==============================================
    Video Section
=============================================== */
#video-section {
    position: relative;
    overflow: hidden;
    background: $nav-color;
}
#video-box {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.player {
    position: relative;
    z-index: 9999;
}